{% extends 'base/index.html' %}
{% load static %}

{% block title %} Home title {% endblock %}
{% block content %}
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/cat.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/img.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/cat.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

    <h1>Home page</h1>


    <div class="container">
      <div class="row">
          {% for s in allStaff %}
          <div class="col-12 col-md-6 col-lg-3">
              <div class="card" >
                  <img src="{{s.staff_image.url}}" class="card-img-top h-100" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{s.staff_name}} {{s.staff_surname}}</h5>
                    <p class="card-text">{{s.staff_position}}</p>
                    <p class="card-text">{{s.staff_email}}</p>
                    <a href="{% url 'profilePage' s.pk %}" class="btn btn-primary">Profile</a>
                  </div>
                </div>
          </div>
          {% endfor %}
</div>
</div>
{%  endblock %}